extends layout
block append content
  if(user)
    .col-md-9
      .content-box-large
        .panel-heading
          .panel-title Giới thiệu
          .panel-options
        .panel-body
          | Đây là giải pháp phần mềm quản lý kinh doanh giúp giải quyết một cách toàn diện tất cả vấn đề về quản trị doanh nghiệp, mang lại sự tiện lợi nhưng hiệu quả về thời gian và tầm kiểm soát chặt chẽ cho nhà quản lý.
          | Đây là giải pháp phần mềm quản lý kinh doanh giúp giải quyết một cách toàn diện tất cả vấn đề về quản trị doanh nghiệp, mang lại sự tiện lợi nhưng hiệu quả về thời gian và tầm kiểm soát chặt chẽ cho nhà quản lý.
          | Đây là giải pháp phần mềm quản lý kinh doanh giúp giải quyết một cách toàn diện tất cả vấn đề về quản trị doanh nghiệp, mang lại sự tiện lợi nhưng hiệu quả về thời gian và tầm kiểm soát chặt chẽ cho nhà quản lý.
          | Đây là giải pháp phần mềm quản lý kinh doanh giúp giải quyết một cách toàn diện tất cả vấn đề về quản trị doanh nghiệp, mang lại sự tiện lợi nhưng hiệu quả về thời gian và tầm kiểm soát chặt chẽ cho nhà quản lý.
          | Đây là giải pháp phần mềm quản lý kinh doanh giúp giải quyết một cách toàn diện tất cả vấn đề về quản trị doanh nghiệp, mang lại sự tiện lợi nhưng hiệu quả về thời gian và tầm kiểm soát chặt chẽ cho nhà quản lý.
          | Đây là giải pháp phần mềm quản lý kinh doanh giúp giải quyết một cách toàn diện tất cả vấn đề về quản trị doanh nghiệp, mang lại sự tiện lợi nhưng hiệu quả về thời gian và tầm kiểm soát chặt chẽ cho nhà quản lý.
          | Đây là giải pháp phần mềm quản lý kinh doanh giúp giải quyết một cách toàn diện tất cả vấn đề về quản trị doanh nghiệp, mang lại sự tiện lợi nhưng hiệu quả về thời gian và tầm kiểm soát chặt chẽ cho nhà quản lý.
          | Đây là giải pháp phần mềm quản lý kinh doanh giúp giải quyết một cách toàn diện tất cả vấn đề về quản trị doanh nghiệp, mang lại sự tiện lợi nhưng hiệu quả về thời gian và tầm kiểm soát chặt chẽ cho nhà quản lý.
          | Đây là giải pháp phần mềm quản lý kinh doanh giúp giải quyết một cách toàn diện tất cả vấn đề về quản trị doanh nghiệp, mang lại sự tiện lợi nhưng hiệu quả về thời gian và tầm kiểm soát chặt chẽ cho nhà quản lý.
          | Đây là giải pháp phần mềm quản lý kinh doanh giúp giải quyết một cách toàn diện tất cả vấn đề về quản trị doanh nghiệp, mang lại sự tiện lợi nhưng hiệu quả về thời gian và tầm kiểm soát chặt chẽ cho nhà quản lý.
          | Đây là giải pháp phần mềm quản lý kinh doanh giúp giải quyết một cách toàn diện tất cả vấn đề về quản trị doanh nghiệp, mang lại sự tiện lợi nhưng hiệu quả về thời gian và tầm kiểm soát chặt chẽ cho nhà quản lý.
          | Đây là giải pháp phần mềm quản lý kinh doanh giúp giải quyết một cách toàn diện tất cả vấn đề về quản trị doanh nghiệp, mang lại sự tiện lợi nhưng hiệu quả về thời gian và tầm kiểm soát chặt chẽ cho nhà quản lý.
          | Đây là giải pháp phần mềm quản lý kinh doanh giúp giải quyết một cách toàn diện tất cả vấn đề về quản trị doanh nghiệp, mang lại sự tiện lợi nhưng hiệu quả về thời gian và tầm kiểm soát chặt chẽ cho nhà quản lý.
          br
          br
          |                            HÃY ĐỂ CHÚNG TÔI HỖ TRỢ BẠN PHÁT TRIỂN CÔNG VIỆC KINH DOANH CỦA MÌNH!








  //if (!user)
  //  a(href="/login") Login
  //  br
  //  a(href="/register") Register
  //if (user)
  //  p You are currently logged in as #{user.username}
  //  a(href="/logout") Logout
  //  form(role='form', action="/viewTable",method="get", style='max-width: 300px;')
  //    button.btn.btn-info(type='submit') Dạng bảng
  //  form(role='form', action="/viewTree",method="get", style='max-width: 300px;')
  //    button.btn.btn-info(type='submit') Dạng cây
