doctype html
html
  head
    title Viking
    block script
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/css/styles.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='https://code.jquery.com/jquery.js')
        script(src='bootstrap/js/bootstrap.min.js')
        script(src='js/custom.js')

  body
    .header
      .container
        .row
          .col-md-5
            // Logo
            .logo
              h1
                a(href='/home') VIKING
          .col-md-7
            .navbar.navbar-inverse(role='banner')
              nav.collapse.navbar-collapse.bs-navbar-collapse.navbar-right(role='navigation')
                ul.nav.navbar-nav
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                      | Tài khoản
                      b.caret
                    ul.dropdown-menu.animated.fadeInUp
                      li
                        a(href='/viewProfile') Cá nhân
                      li
                        a(href='/logout') Đăng xuất
            //p #{user}
            //a(href="/logout") Đăng xuất
      .page-content
        .row
            block content
              .col-md-3
                .sidebar.content-box
                  ul.nav
                      li
                          a(href="/userTable")
                              i.glyphicon.glyphicon-tasks
                              |  DANH SÁCH NHÀ ĐẦU TƯ
                      li
                          a(href="/viewTransaction")
                              i.glyphicon.glyphicon-tasks
                              |  QUẢN LÝ GIAO DỊCH
                      li
                          a(href="/report")
                            i.glyphicon.glyphicon-tasks
                            |  BÁO CÁO THỐNG KÊ


      footer
          .container
              .copy.text-center
                  | Viking 2016
                  a(href='#') Website