//
   Created by tronghuy2807 on 28/12/2016.

form#uploadForm(enctype='multipart/form-data', action='upload', method='post')
    input(type='file', name='file')
    | Upload
    input(type='submit', value='Upload', name='submit')
