//
   Created by tronghuy2807 on 22/12/2016.
html
    head
        title VIKING
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        link(rel='stylesheet', href='demo/js/jquery/ui-lightness/jquery-ui-1.10.2.custom.css')
        script(type='text/javascript', src='demo/js/jquery/jquery-1.9.1.js')
        script(type='text/javascript', src='demo/js/jquery/jquery-ui-1.10.2.custom.min.js')
        script(type='text/javascript', src='demo/js/primitives.min.js')
        link(href='demo/css/primitives.latest.css', media='screen', rel='stylesheet', type='text/css')
        //meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/css/styles.css')
        script(src='bootstrap/js/bootstrap.min.js')
        script(src='js/custom.js')
        //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        //script(src='/bootstrap/js/bootstrap.min.js')
        script(type='text/javascript').
            //<![CDATA[
            $(window).load(function () {
                var options = new primitives.orgdiagram.Config();
                var dataUser = !{JSON.stringify(data)};
                var data = JSON.parse(dataUser);
                var items = [];
                data.forEach(function (object) {
                    items.push(new primitives.orgdiagram.ItemConfig({
                        id: object.id,
                        parent: object.parentId,
                        title: object.fullname,
                        email: object.email,
                        description: object.org,
                        phone: object.phone,
                        childrenPlacementType: primitives.common.ChildrenPlacementType.Horizontal,
                        image: "uploadImgs/avatar5.png"
                    }))
                })
                options.items = items;
                options.cursorItem = 0;
                options.templates = [getContactTemplate()];
                options.onItemRender = onTemplateRender;
                options.defaultTemplateName = "contactTemplate";
                options.normalItemsInterval = 10;
                options.normalLevelShift = 44;
                jQuery("#basicdiagram").orgDiagram(options);
                function onTemplateRender(event, data) {
                    switch (data.renderingMode) {
                        case primitives.common.RenderingMode.Create:
                            /* Initialize widgets here */
                            break;
                        case primitives.common.RenderingMode.Update:
                            /* Update widgets here */
                            break;
                    }
                    var itemConfig = data.context;
                    if (data.templateName == "contactTemplate") {
                        data.element.find("[name=photo]").attr({"src": itemConfig.image, "alt": itemConfig.title});
                        data.element.find("[name=titleBackground]").css({"background": itemConfig.itemTitleColor});
                        data.element.find("[name=label]").text(itemConfig.percent * 100.0 + '%');
                        var fields = ["title", "description", "phone", "email"];
                        for (var index = 0; index < fields.length; index++) {
                            var field = fields[index];
                            var element = data.element.find("[name=" + field + "]");
                            if (element.text() != itemConfig[field]) {
                                element.text(itemConfig[field]);
                            }
                        }
                    }
                }

                function getContactTemplate() {
                    var result = new primitives.orgdiagram.TemplateConfig();
                    result.name = "contactTemplate";
                    result.itemSize = new primitives.common.Size(200, 100);
                    result.minimizedItemSize = new primitives.common.Size(3, 3);
                    result.highlightPadding = new primitives.common.Thickness(2, 2, 2, 2);
                    var itemTemplate = jQuery(
                            '<div class="bp-item bp-corner-all bt-item-frame">'
                            + '<div name="titleBackground" class="bp-item bp-corner-all bp-title-frame" style="top: 2px; left: 2px; width: 195px; height: 20px; overflow: hidden;">'
                            + '<div name="title" class="bp-item bp-title" style="top: 3px; left: 6px; width: 200px; height: 18px; overflow: hidden;">'
                            + '</div>'
                            + '</div>'
                            + '<div class="bp-item bp-photo-frame" style="top: 26px; left: 2px; width: 50px; height: 60px; overflow: hidden;">'
                            + '<img name="photo" style="height:60px; width:50px;" />'
                            + '</div>'
                            + '<div name="phone" class="bp-item" style="top: 26px; left: 56px; width: 162px; height: 18px; font-size: 12px; overflow: hidden;"></div>'
                            + '<div name="email" class="bp-item" style="top: 44px; left: 56px; width: 162px; height: 18px; font-size: 12px; overflow: hidden;"></div>'
                            + '<div name="description" class="bp-item" style="top: 62px; left: 56px; width: 162px; height: 36px; font-size: 10px; overflow: hidden;"></div>'
                            + '<div name="label" class="bp-item" style="top: -20px; left: 3px; width: 208px; height: 20px; font-size: 14px; text-align:center;"></div>'
                            + '</div>'
                    ).css({
                        width: result.itemSize.width + "px",
                        height: result.itemSize.height + "px"
                    }).addClass("bp-item bp-corner-all bt-item-frame");
                    result.itemTemplate = itemTemplate.wrap('<div>').parent().html();
                    return result;
                }
            });//]]>
    body
        .header
            .container
                .row
                    .col-md-5
                        // Logo
                        .logo
                            h1
                                a(href='/home') VIKING
                    .col-md-7
                        .navbar.navbar-inverse(role='banner')
                            nav.collapse.navbar-collapse.bs-navbar-collapse.navbar-right(role='navigation')
                                ul.nav.navbar-nav
                                    li.dropdown
                                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                                            | Tài khoản
                                            b.caret
                                        ul.dropdown-menu.animated.fadeInUp
                                            li
                                                a(href='viewProfile') Cá nhân
                                            li
                                                a(href='/login') Đăng xuất
        .page-content
            .row
                block content
                    .col-md-3
                        .sidebar.content-box
                            ul.nav
                                li
                                    a(href="/userTable")
                                        i.glyphicon.glyphicon-tasks
                                        |  DANH SÁCH NHÀ ĐẦU TƯ
                                li
                                    a(href="/viewTransaction")
                                        i.glyphicon.glyphicon-tasks
                                        |  QUẢN LÝ GIAO DỊCH
                                //li
                                //    a(href="/viewStatistics")
                                //        i.glyphicon.glyphicon-tasks
                                //        |  THỐNG KÊ
                .col-md-9
                    .row
                        .content-box-large
                            a(href='/viewTransaction')
                                input.btn.btn-warning(type='button',value='Quay lại')
                            h4(style='margin-right:5px')
                                | Lợi nhuận hoa hồng của #{JSON.parse(data)[0].fullname} :
                                span.label.label-info #{sum} $
                            #basicdiagram(style='width: 100%; height: 99%; border-style: none; border-width: 2px;')
    footer
        .container
            .copy.text-center
                | Viking 2016
                a(href='#') Website
    //script(src='https://code.jquery.com/jquery.js')
