//
   Created by tronghuy2807 on 21/12/2016.
extends layout
block append content
    .col-md-9
        .row
            .content-box-large
                        .panel-title Danh sách nhà đầu tư
                        .panel-body
                            table.table.table-striped
                                thead
                                    tr
                                        th Họ tên
                                        th Địa chỉ email
                                        th Số điện thoại
                                        th Người giới thiệu
                                tbody
                                    each d in JSON.parse(data)
                                        tr
                                            td #{d.fullname}
                                            td #{d.email}
                                            td #{d.phone}
                                            td #{d.leaderPhone}

