//
   Created by tronghuy2807 on 21/12/2016.
doctype html
html
    head
        title VIKING
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/css/styles.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
    body.login-bg
        .header
            .container
                .row
                    .col-md-12
                        // Logo
                        .logo
                            h1
                                a(href='index.html') VIKING
        .page-content.container
            .col-md-10
                .row
                    .col-md-6
                        .content-box-large
                            .panel-heading
                                .panel-title Danh sach nha dau tu
                                .panel-options
                                    a(href='#', data-rel='collapse')
                                        i.glyphicon.glyphicon-refresh
                                    a(href='#', data-rel='reload')
                                        i.glyphicon.glyphicon-cog
                            .panel-body
                                table.table.table-striped
                                    thead
                                        tr
                                            th Họ tên
                                            th Địa chỉ email
                                            th Số điện thoại
                                            th Người giới thiệu
                                    tbody
                                        each d in JSON.parse(data)
                                            tr
                                                td #{d.fullname}
                                                td #{d.email}
                                                td #{d.phone}
                                                td #{d.leaderPhone}
        .container
            .copy.text-center
                | Copyright 2014
                a(href='#') Website