//
   Created by tronghuy2807 on 22/12/2016.
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width')
        title  Basic example
        link(rel='stylesheet', href='javascripts/Treant.css')
        link(rel='stylesheet', href='javascripts/basic-example.css')
    body
        #basic-example.chart
        script(src='javascripts/vendor/raphael.js')
        script(src='javascripts/Treant.js')
        script(src='javascripts/basic-example.js')
        script.
            new Treant( chart_config );
