//
   Created by tronghuy2807 on 31/12/2016.
extends layout
block append content
    .col-md-9
        .row
            .content-box-large(style='margin-bottom:376px')
                h2 NHẬP THÔNG TIN GIAO DỊCH
                .panel-body
                    .row
                        //form(enctype='multipart/form-data', action='uploadTrans', method='post')
                        form(action='uploadTransHand', method='post')
                            .col-md-4.form-group
                                input.form-control(type='text', placeholder='IB Name',name="ibname")
                            .col-md-4.form-group
                                input.form-control(type='text', placeholder='Currency',name="curr")
                            .col-md-4.form-group
                                input.form-control(type='text', placeholder='Time',name="time")
                            .col-md-4.form-group
                                input.form-control(type='text', placeholder='ID',name="id")
                            .col-md-4.form-group
                                input.form-control(type='text', placeholder='Net Deposits',name="deposit")
                            .col-md-4.form-group
                                input.form-control(type='text', placeholder='Balance',name="balance")
                            .col-md-4.form-group
                                input.form-control(type='text', placeholder='Equity',name="equity")
                            .col-md-4.form-group
                                input.form-control(type='text', placeholder='Volume (Lot)',name="lotvolume")
                            .col-md-4.form-group
                                input.form-control(type='text', placeholder='Volume (USD)',name="usdvolume")
                            .col-md-4.form-group
                                input.form-control(type='text', placeholder='Commision',name="commision")
                            .col-md-4.form-group
                                input.form-control(type='text', placeholder='Markup',name="markup")
                            .col-md-4.form-group
                                input.form-control(type='text', placeholder='Ticket',name="ticket")
                            .col-md-4.form-group
                                input.form-control(type='text', placeholder='OpenTime',name="opentime")
                            .col-md-4.form-group
                                input.form-control(type='text', placeholder='Side',name="side")
                            .col-md-4.form-group
                                input.form-control(type='text', placeholder='Amount',name="amount")
                            //.col-xs-12.form-group
                            //    input(type='file', name='file',style="margin-bottom:5px")
                                //label.btn.btn-info.btn-block.btn-outlined(for='imageUpload') Chọn file excel
                                //input#imageUpload(type='file',name='sampleFile',style='display: none')
                            button.btn.btn-success(type='submit',style='margin-right:5px')
                                | Cập nhật
                            a(href='/viewStatistics')
                                button.btn.btn-primary(type="button") Xem thống kê



